#scene-container {
  /* tell our scene container to take up the full page */
  position: relative;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: skyblue;
}
canvas {
  width: 31.2em !important;
  height: 20em !important;
}
